<!-- comment -->

<!--  {
        "id": "5c6fc7d8ee3c6a236d231ee5",
        "idMemberCreator": "5806122c3ea9aa9d6e2ad900",
        "data": {
            "list": {
                "name": "B1",
                "id": "5c6fc621f89fff15451da2c5"
            },
            "board": {
                "shortLink": "EMx4VO5Y",
                "name": "Test-bug",
                "id": "5c6fc607070b2b6db1ae3aaf"
            },
            "card": {
                "shortLink": "fWc6ag31",
                "idShort": 1,
                "name": "AAA",
                "id": "5c6fc7d55695404ae5e1d7c2"
            },
            "text": "AAA"
        },
        "type": "commentCard",
        "date": "2019-02-22T09:58:48.043Z",
        "limits": {
            "reactions": {
                "perAction": {
                    "status": "ok",
                    "disableAt": 1000,
                    "warnAt": 900
                },
                "uniquePerAction": {
                    "status": "ok",
                    "disableAt": 17,
                    "warnAt": 16
                }
            }
        }, -->






<!--  {
        "id": "5c6e4d08a209e3501d2707e1",
        "idMemberCreator": "5806122c3ea9aa9d6e2ad900",
        "data": {
            "board": {
                "shortLink": "nW6V5l1x",
                "name": "Test-desc",
                "id": "5c6e4cdd41b9cf7f198862f1"
            },
            "list": {
                "name": "T1",
                "id": "5c6e4cfd301ade0c5285e7a5"
            },
            "card": {
                "shortLink": "fxg45eUw",
                "idShort": 1,
                "name": "card1",
                "id": "5c6e4d08a209e3501d2707e0"
            }
        },
        "type": "createCard",
        "date": "2019-02-21T07:02:32.706Z",
        "limits": {},
        "memberCreator": {
            "id": "5806122c3ea9aa9d6e2ad900",
            "avatarHash": "abb0f1dd7acd978a97f3a76b64125bdc",
            "avatarUrl": "https://trello-avatars.s3.amazonaws.com/abb0f1dd7acd978a97f3a76b64125bdc",
            "fullName": "Ittigorn Assawapoonsap",
            "idMemberReferrer": null,
            "initials": "I",
            "nonPublic": {},
            "username": "ittigorn"
        }
    }, -->





    <!-- #2 
    {
        "id": "5c6e4d363a01fb69791678c1",
        "idMemberCreator": "5806122c3ea9aa9d6e2ad900",
        "data": {
            "list": {
                "name": "T1",
                "id": "5c6e4cfd301ade0c5285e7a5"
            },
            "board": {
                "shortLink": "nW6V5l1x",
                "name": "Test-desc",
                "id": "5c6e4cdd41b9cf7f198862f1"
            },
            "card": {
                "shortLink": "fxg45eUw",
                "idShort": 1,
                "name": "card1",
                "id": "5c6e4d08a209e3501d2707e0",
                "desc": "DESC1"
            },
            "old": {
                "desc": ""
            }
        },
        "type": "updateCard",
        "date": "2019-02-21T07:03:18.235Z",
        "limits": {},
        "memberCreator": {
            "id": "5806122c3ea9aa9d6e2ad900",
            "avatarHash": "abb0f1dd7acd978a97f3a76b64125bdc",
            "avatarUrl": "https://trello-avatars.s3.amazonaws.com/abb0f1dd7acd978a97f3a76b64125bdc",
            "fullName": "Ittigorn Assawapoonsap",
            "idMemberReferrer": null,
            "initials": "I",
            "nonPublic": {},
            "username": "ittigorn"
        }
    }, -->




    <!-- #3 -->
    <!-- {
        "id": "5c6e4da52ba6e84b70f6c763",
        "idMemberCreator": "5806122c3ea9aa9d6e2ad900",
        "data": {
            "list": {
                "name": "T1",
                "id": "5c6e4cfd301ade0c5285e7a5"
            },
            "board": {
                "shortLink": "nW6V5l1x",
                "name": "Test-desc",
                "id": "5c6e4cdd41b9cf7f198862f1"
            },
            "card": {
                "shortLink": "fxg45eUw",
                "idShort": 1,
                "name": "card1",
                "id": "5c6e4d08a209e3501d2707e0",
                "desc": "DESC2"
            },
            "old": {
                "desc": "DESC1"
            }
        },
        "type": "updateCard",
        "date": "2019-02-21T07:05:09.320Z",
        "limits": {},
        "memberCreator": {
            "id": "5806122c3ea9aa9d6e2ad900",
            "avatarHash": "abb0f1dd7acd978a97f3a76b64125bdc",
            "avatarUrl": "https://trello-avatars.s3.amazonaws.com/abb0f1dd7acd978a97f3a76b64125bdc",
            "fullName": "Ittigorn Assawapoonsap",
            "idMemberReferrer": null,
            "initials": "I",
            "nonPublic": {},
            "username": "ittigorn"
        }
    }, -->