{% block content%}
<<!-- form method="POST">
	{% csrf_token %}
	{{form.as_p}}

	<button>Sign Up</button>
</form> -->
<form method="POST">
	<input type='hidden' name='csrfmiddlewaretoken' value='GMOvUBCIAlCbsuxNIv33eABM3V4z4VrEXSrBc4u9dj7KrTzJHnuUKO2mjsoZv1Ew' />
	<p>
		<label for="id_username">Username:</label> 
		<input type="text" name="username" maxlength="100" required id="id_username" />
	</p>
	<p>
		<label for="id_password">Password:</label> 
		<input type="password" name="password" maxlength="100" required id="id_password" />
	</p>
	<p>
		<label for="id_password2">Confirm Password :</label> 
		<input type="password" name="password2" maxlength="100" required id="id_password2" />
	</p>
	<p>
		<label for="id_trello_token">Trello token:</label> 
		<input type="text" name="trello_token" maxlength="100" required id="id_trello_token" />
	</p>
	<p>
		<label for="id_first_name">First name:</label> 
		<input type="text" name="first_name" maxlength="100" required id="id_first_name" />
	</p>
	<p>
		<label for="id_last_name">Last name:</label> 
		<input type="text" name="last_name" maxlength="100" required id="id_last_name" />
	</p>
	<p>
		<label for="id_birth_date">Birth date:</label>
		<input type="text" name="birth_date" maxlength="100" required id="id_birth_date" />
	</p>
	<p>
		<label for="id_telephone">Telephone:</label> 
		<input type="text" name="telephone" maxlength="100" required id="id_telephone" />
	</p>
	<p>
		<label for="id_email">Email:</label>
		<input type="text" name="email" maxlength="100" required id="id_email" />
	</p>

	<button  onclick="return  Validate()">Sign Up</button>
</form>


<!-- chk password / confirm -->
<script type="text/javascript">
	function Validate() {
		var password = document.getElementById("id_password").value;
		var confirmPassword = document.getElementById("id_password2").value;
		if (password != confirmPassword) {
			alert("Passwords do not match.");
			return false;
		}
		// return true;
	}
</script>
<!-- sace token -->
<script type="text/javascript">
	a = window.location.href ;
	// alert(a);
	var res = a.split("token=");
	// alert(res[1]);
	document.getElementById("id_trello_token").innerHTML = ""+ res[1];
	document.getElementById("id_trello_token").value = ""+ res[1];
	document.getElementById("id_trello_token").readOnly = true;
</script>

{% endblock %}