.navbar_box{
  width: 100%;
  height: 74px;
  position: relative;
  box-sizing: border-box;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 16px 32px;
}
.menu_box img {
padding: 10px;
width: 20px;
height: 20px;
float: left;
}
.main_box{
width: 100%;
height:calc(100% - 74px);
background-color: #F8F8FB;
box-sizing: border-box;
padding: 16px 32px;
}
.add_box{
width: 134px;
height: 100%;
float: right;
background-color: #4E78B9;
display: inline-block;
box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.add_box img{
padding: 12px;
width: 15px;
height: 15px;
float: left;
}
.add_txt{
color: #FFFFFF;
line-height: 42px;
float: right;
padding-right: 10px;
}
.option_box{
width: 100%;
height: 48px;
display:inline-block;
}
.board_box{
width: 350px;
height: 100%;
float: right;
}

.date_btn{
width: 264px;
height: 100%;
background-color: #FFFFFF;
float: right;
box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
padding: 4px;
box-sizing: border-box;
display: inline-block;
}
.board_btn{
width: 280px;
height: 100%;
background-color: #FFFFFF;
float: right;
box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
padding: 4px;
box-sizing: border-box;
display: inline-block;
}
.date_txt{
float: left;
line-height: 48px;
}
.board_txt{
float: left;
line-height: 48px;
}
.focus{
float: right;
width: 76px;
height: 100%;
}
.planning{
float: left;
width: 76px;
height: 100%;
}
.movement{
float: left;
width: 112px;
height: 100%;
}
.focus_txt{
text-align: center;
line-height: 42px;
}
.move_txt{
text-align: center;
line-height: 42px;
}
.planning_txt{
text-align: center;
line-height: 42px;
}
.percent_chart{
width: 100%;
height: 560px;
margin-top: 20px;
padding: 30px 30px;
box-sizing: border-box;
margin: auto;
}
.detail_box{
height: 600px;
}
.box-graph{
  background: #FFFFFF;
  width: 585px;
  height: 356px;
  display: inline-block;
  box-sizing: border-box;
  /* float: left; */
  margin: 18px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  margin-left: 120px;
}
.name_graph{
text-align: center;
}
.box-canvas{
  width: 100%;
  padding: 10px;
  height: 100%;
  box-sizing: border-box;
  cursor: pointer;
}
.chartjs-render-monitor{
width: 100%;
height: 100%;
}
.move-graph{
width:585px;
height: 330px;
}
.input-color {
  width: 48px;
  height: 34px;
  float: right;
  margin-right: 16px;
  margin-top: 12px;
  border: none;
}
#custom_color{
  float: right;
  width: 120px;
  height: 56px;
  line-height: 56px;
  font-size: 16px;
  color: #333333;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); 
}
.custom-select {
  position: relative;
  font-family: Arial;
  margin-right: 16px;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: white;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #333333 ;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: #333333 ;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #333333;
  padding: 8px 16px;
  border: none;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #333333;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
@media(min-width:1920){
  .box-graph{
    background: #FFFFFF;
    width: 585px;
    height: 304px;
    display: inline-block;
    box-sizing: border-box;
    /* float: left; */
    margin: 18px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin-left: 120px;
  }
}