.navbar_box{
  width: 100%;
  height: 74px;
  position: relative;
  box-sizing: border-box;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 16px 32px;
}
.menu_box img {
padding: 10px;
width: 20px;
height: 20px;
float: left;
}
.main_box{
width: 100%;
height:calc(100% - 74px);
background-color: #F8F8FB;
box-sizing: border-box;
padding: 16px 32px;
}
.add_box{
width: 134px;
height: 100%;
float: right;
background-color: #4E78B9;
display: inline-block;
box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.add_box img{
padding: 12px;
width: 15px;
height: 15px;
float: left;
}
.add_txt{
color: #FFFFFF;
line-height: 42px;
float: right;
padding-right: 10px;
}
.option_box{
width: 100%;
height: 48px;
display:inline-block;
}
.board_box{
width: 350px;
height: 100%;
float: right;
}
.date_box{
width: 245px;
height: 100%;
margin-left: 20px;
float: right;

}
.date_btn{
width: 164px;
height: 100%;
background-color: #FFFFFF;
float: right;
box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
padding: 4px;
box-sizing: border-box;
display: inline-block;
}
.board_btn{
width: 280px;
height: 100%;
background-color: #FFFFFF;
float: right;
box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
padding: 4px;
box-sizing: border-box;
display: inline-block;
}
.date_txt{
float: left;
line-height: 48px;
}
.board_txt{
float: left;
line-height: 48px;
}
.focus{
float: right;
width: 76px;
height: 100%;
}
.planning{
float: left;
width: 76px;
height: 100%;
}
.movement{
float: left;
width: 112px;
height: 100%;
}
.focus_txt{
text-align: center;
line-height: 42px;
}
.move_txt{
text-align: center;
line-height: 42px;
}
.planning_txt{
text-align: center;
line-height: 42px;
}
.percent_chart{
width: 100%;
height: 560px;
margin-top: 20px;
padding: 30px 30px;
box-sizing: border-box;
margin: auto;
}
.detail_box{
height: 600px;
}
.box-graph{
  background: #FFFFFF;
  width: 585px;
  height: 304px;
  display: inline-block;
  box-sizing: border-box;
  /* float: left; */
  margin: 18px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  margin-left: 120px;
}
.name_graph{
text-align: center;
}
.box-canvas{
width: 100%;
padding: 10px;
height: 220px;
box-sizing: border-box;
}
.chartjs-render-monitor{
width: 100%;
height: 100%;
}
.move-graph{
width:585px;
height: 330px;
}
@media(min-width:1920){
  .box-graph{
    background: #FFFFFF;
    width: 585px;
    height: 304px;
    display: inline-block;
    box-sizing: border-box;
    /* float: left; */
    margin: 18px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin-left: 120px;
  }
}